{% extends "layout.html" %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %} Students in course {% endblock %}</title>
    </head>
    <body>
       
        {% block content %}
        <h3 style = "background-color:aliceblue;">Roster</h3>
       <h4> <strong>{{ course.course_title }}</strong> </h4>
        <ul>
            {% for student in students %}
                <li>Student ID: {{student.id}}, Name: {{student.name}} , Grade: {{student.grade}} </li>
              {% endfor %}    
        </ul>
        <div class="students">
                <form action="{{url_for('register_student',course_id = course.id)}}" method="post">
                  <input type="text" name="id" placeholder="ID">
                  <input type="text" name="name" placeholder="name">
                  <input type="text" name="grade" placeholder="grade">
                  <button type="submit"> Add Student </button>
                </form>
              </div>
        {% endblock %}
    </body>
</html>